* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Karla';
}

.container {
  padding: 0 1.8rem;
}

.white-title {
  font-family: 'DM Serif Display';
  color: #fafafa;
  font-size: 2.5rem;
  font-weight: lighter;
}

.dark-title {
  font-family: 'DM Serif Display';
  color: #2b272f;
  font-size: 2.5rem;
  font-weight: lighter;
}

.button {
  color: #fafafa;
  background-color: #2d2640;
  font-size: 1rem;
  padding: .5rem 1.5rem;
  border: 1px solid #fafafa;
  -webkit-transition: .3s;
  transition: .3s;
}

.button:hover {
  color: #2d2640;
  background-color: #fafafa;
  border: 1px solid #2d2640;
}

section {
  margin-bottom: 8rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.2rem 0;
}

#home {
  background-color: #2d2640;
}

#home .text {
  text-align: center;
  color: #fafafa;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#home .text p {
  font-weight: lighter;
  margin-bottom: 2.5rem;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about h2 {
  margin-bottom: 5rem;
}

#about .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
}

#about .card h3 {
  margin: 2rem 0 1rem 0;
  font-size: 1.5rem;
  font-family: 'DM Serif Display';
  font-weight: lighter;
  color: #2b272f;
}

#about .card p {
  text-align: center;
  color: #837d87;
}

#more h2 {
  text-align: center;
  font-weight: lighter;
  margin-bottom: 2rem;
}

#more .container {
  background-color: #2d2640;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .socials {
  margin: 2rem 0;
}

footer .socials svg {
  margin-right: .5rem;
}

footer .socials svg:nth-child(4) {
  margin-right: 0;
}

footer .socials svg:hover {
  color: #2b272f;
}

footer .links {
  text-align: center;
}

footer .links p {
  color: #837d87;
  margin-bottom: 3rem;
  font-weight: bolder;
}

footer .links ul {
  margin-bottom: 3rem;
}

footer .links li {
  margin-bottom: 1rem;
}

footer .links a {
  color: #2d2640;
  font-weight: bolder;
}

footer .links a:hover {
  border-bottom: 1px solid #2d2640;
}

@media (min-width: 1440px) {
  .container {
    padding: 0 15rem;
  }
  #about {
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
  #about .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #about .cards .card {
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    padding-right: 4rem;
  }
  #about .cards .card p {
    text-align: initial;
  }
  #more h2 {
    padding-right: 10rem;
  }
  #more .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 3.5rem 5rem;
  }
  footer .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 5rem;
  }
  footer .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: initial;
  }
  footer .links div {
    margin-right: 20rem;
  }
  footer .links p {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */